@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "android";
    src: url("/DESAFIOS/pacote-projeto-d010/fontes/idroid.otf") format("opentype");
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #e9d8c9;
    --cor02: #8cdbdbb6;
    --cor03: #026773;
    --cor04: #024959;
    --cor05: #012E40;
    --cor06: #000000;

    --fdestaque: "Bebas Neue";
    --fpadrao: Arial, Verdana, Hevlvetica, sans-serif;
}

body {
    background-color: var(--cor01);
}

header {
    background-color: var(--cor03);
    padding: 40px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor02), var(--cor05));
}
header > h1 {
    font-family: var(--fdestaque);
    font-size: 3em;
    color: white;

}
header > p {
    color: white;
    font-family: var(--fpadrao);
    font-size: 1.5em;
}
nav {
    background-color: var(--cor05);
    padding: 5px;
    text-align: center;
    padding: 15px;
}

nav > a:hover {
    background-color: var(--cor03);
    color: var(--cor01);
    border-radius: 4px;
    text-decoration: underline;
    transition: 0.5s;
}

nav a {
    padding: 15px;
    text-decoration: none;
    font-family: var(--fpadrao);
    font-weight: bolder;
    font-size: 1.3em;
    color: white;
}
main {
    background-color: white;

    min-width: 350px;
    max-width: 1000px;
    margin: auto;
    padding: 30px;

    border-radius: 0px 0px 12px 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.322);
    margin-bottom: 30px;
    
}
main h1 {
    color: var(--cor04);
    font-family: android;
    text-align: center;
    margin-bottom: 30px;
    background-image: linear-gradient(to right, #8cdbdbb6, transparent);
    
}
main h2 {
    background-image: linear-gradient(to right, #8cdbdbb6, transparent);
    font-family: android;
    color: var(--cor04);
    text-indent: 20px;
}

main p {
    font-family: var(--fpadrao);
    line-height: 1.5em;
    margin: 10px;
    text-indent: 30px;
    font-size: 1.2em;
}

main img {
    width: 100%;
}

#androidm {
    width: 400px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor05);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 30px;
    padding-bottom: 57%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor02);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
aside h3 {
    background-color: var(--cor03);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: "\2714\00a0\00a0";
    columns: 2;
    list-style-position: inside;

}
footer {
    background-color: var(--cor03);
    text-align: center;
    font-family: var(--fpadrao);
    font-size: 1.3em;
    color: white;
}


