@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fdestaque:"Passion One";
    --fpoema: "Sriracha";
    --fpadrao:Verdana, Geneva, Tahoma, sans-serif;
}


html,body {
    background-color: darkgrey;
    min-height: 100%;

    font-family: var(--fpadrao);
}

header {
    background-color: black;
    
    text-align: center;

    color: white;
}

header > h1 {
    padding-top: 50px;

    font-family: var(--fdestaque);

    font-size: 10vw;
    /*Nova tecnica:
    text-transform: capitalize, uppercase;*/

    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;

    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;

    line-height: 10vw;

    padding-left: 30px;

    font-family: var(--fpoema);

    font-size: 4vw;


}

.imagem  p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.26);
}

.normal {
    background-color: white;
}

.imagem {
    background-color: rgba(0, 0, 0, 0.322);

    color: white;
}

footer {
    background-color: black;

    color: white;

    padding: 10px;

    text-align: center;
}