@charset "UTF-8";

/* Todas as demais Medias*/

/*Typical device Breakpoints
pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px

*/

@media screen and (min-width: 768px) {
    #menu {
        display: none;
    }
    menu {
        display: block !important;
    }
    menu li {
        display: inline-block;
    }
    main {
        max-width: 800px;
    }
    
}