@charset "UTF-8";

/* Versao Mobile first */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    width: 100vw;
    height: 100vh;

}
body {
    background: url("../imagens/back-phone.jpg") #000000 no-repeat;
    padding-top: 20px;
    background-size: cover;
    background-position: center center;

}
main {
    background-color: #ffffff94;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}
h1 {
    text-align: center;
    color: #fff;
    font-size: 2em;
    text-shadow: 1px 1px 5px black;
}
img {
    display: block;
    margin: auto;
}
img#phone {
    display: none block;
}
img#tablet {
    display: none;
}
img#impressao {
    display: none;
}
img#pc {
    display: none;
}
img#tv {
    display: none;
}